.navbar-logo {
  height: 10vh;
  width: 8vw;
  border: none;
}

.navbar-container {
  background-color: #1b4383;
  display: flex;
  color: white;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
}

.navbar-container a {
  color: white;
  text-decoration: none;
}

.navbar-categories {
  background-color: #f47937;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-categories a {
  text-decoration: none;
  color: white;
}
